<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <b>Store</b>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
              <app-shopping-basket></app-shopping-basket>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>

</div>
